@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  border-color: #000000;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.coin-app button {
 
  padding: 5px;
  width: 175px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size:medium;
  font-weight: 600;
  border-radius: 5px;
}

.coin-app button:hover {
  color: #ffffff;
  font-size:medium;
  font-weight: 700;
  background-image: linear-gradient(
    -225deg,
    #4801ff 0%,
    #4901ff88 48%,
    #9901ff 100%
  );
}

.light-mode {
  background-color: white;
  color: black;
}

.night-mode {
  background-color: black;
  color: white;
}

.coin-wrap {
  justify-self: unset;
}
  @media (max-width: 500px){
    .coin-wrap { 
      background-color: #000000;
      /* width: 500px; */
    }
  }

.coin-app {
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-top: 50px;
  color: #fff;
}



.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
  font-size: 3rem; 
}

.coin-input {
  padding-left: 16px;
  width: 350px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #4801ff 0%,
    #4901ff88 48%,
    #9901ff 100%
  );

  color: #e2e2e2;
}
@media (max-width: 300px){
  .coin-input { 
    background-color: #000000;
    /* width: 300px; */
  }
}

.coin-input::placeholder {
  color: #000000;
}